body {
    background: url(img/Bg.gif);
    position: relative;
}

.container {
    background-color: rgba(0, 0, 0, 0.671);
    width: 80px;
}
.area{
    display: inline-block;
}
.card{
    margin-top: 9px;
}